# ステータスバーを上に設置
set-option -g status-position top

#起動するシェルをfishに変更
{{ if eq .chezmoi.os "darwin" -}}
    set-option -g default-shell /opt/homebrew/bin/fish
{{ else if eq .chezmoi.os "linux" -}}
    set-option -g default-shell /usr/bin/fish
{{ end -}}

#ウィンドウのインデックスを1から始める
set -g base-index 1

#ペインのインデックスを1から始める
setw -g pane-base-index 1

#設定ファイルをリロードする
bind r source-file ~/.tmux.conf \; display "Successfully Reload!"

# prefixキーをC-qに変更する
set -g prefix C-q

# C-bのキーバインドを解除する
unbind C-b

# ペインの大きさをShift-[矢印]で変更
bind -n S-left resize-pane -L 5
bind -n S-right resize-pane -R 5
bind -n S-down resize-pane -D 5
bind -n S-up resize-pane -U 5

#256色端末を使用する
set -g default-terminal "screen-256color"

# prefix + v でペインを縦に分割する
bind h split-window -v

# prefix + h でペインを横に分割する
bind v split-window -h

# C-mでペインを移動する
bind m select-pane -t :.+

# ステータスバーの色を設定する
set -g status-fg white #フォントの色
set -g status-bg red   #背景の色

set-option -g mouse on
bind -n WheelUpPane if-shell -F -t = "#{mouse_any_flag}" "send-keys -M" "if -Ft= '#{pane_in_mode}' 'send-keys -M' 'copy-mode -e'"
