fish_add_path $HOME/.local/bin
fish_add_path $HOME/.cargo/bin
{{ if eq .chezmoi.os "darwin" -}}
fish_add_path /opt/homebrew/bin/
fish_add_path $HOME/google-cloud-sdk/bin
{{ else if eq .chezmoi.os "linux" -}}
{{ end -}}
